@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");


body{
    font-family: "Roboto Condensed", sans-serif;
    
    
}

/*==============================MENU=================================*/
#menu li > a{
    font-size: 18px;
    
    
}
/*========================SLIDER DE IMAGENES=================================*/

.carousel-inner{
    max-height: 39rem;

}